Repository secretflow/heu: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format

.pre-commit-config.yaml:

#  Copyright 2022 Ant Group Co., Ltd.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.

# Install hooks to run automatically on git commit: (Only needs to be run once)
#  >>  pre-commit install
#
# If the pre-commit command does not exist, please run
#  >>  pip install pre-commit
# to install it.
repos:
  # buildifier
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier # -mode check
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$'

  # clang-format
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: [ "-i" ]

repo-sync-2024-08-02T14:53:38+0800
  .gitignore
  heu/algorithms/BUILD.bazel
  heu/algorithms/common/he_assert.h
  heu/algorithms/ou/BUILD.bazel
  heu/algorithms/ou/base.cc
  heu/algorithms/ou/base.h
  heu/algorithms/ou/decryptor.cc
  heu/algorithms/ou/decryptor.h
  heu/algorithms/ou/encryptor.cc
  heu/algorithms/ou/encryptor.h
  heu/algorithms/ou/evaluator.cc
  heu/algorithms/ou/evaluator.h
  heu/algorithms/ou/he_kit.cc
  heu/algorithms/ou/he_kit.h
  heu/algorithms/paillier_zahlen/BUILD.bazel
  heu/algorithms/paillier_zahlen/base.cc
  heu/algorithms/paillier_zahlen/base.h
  heu/algorithms/paillier_zahlen/decryptor.cc
  heu/algorithms/paillier_zahlen/decryptor.h
  heu/algorithms/paillier_zahlen/encryptor.cc
  heu/algorithms/paillier_zahlen/encryptor.h
  heu/algorithms/paillier_zahlen/evaluator.cc
  heu/algorithms/paillier_zahlen/evaluator.h
  heu/algorithms/paillier_zahlen/he_kit.cc
  heu/algorithms/paillier_zahlen/he_kit.h
  heu/library/phe/base/schema.h
  heu/spi/auto_test/arithmetic_test.cc
Due: buildifier, clang-format

Update schema.h
  heu/library/phe/base/schema.h
Due: clang-format

Update .gitignore
  .gitignore
Due: none

delete useless import
  heu/algorithms/ishe/he_kit.cc
Due: clang-format

repo-sync-2024-08-02T16:36:32+0800
  .gitignore
  heu/library/phe/base/schema.h
  heu/spi/auto_test/arithmetic_test.cc
Due: clang-format

repo-sync-2024-08-02T16:42:42+0800
  .gitignore
  heu/library/phe/base/schema.h
Due: clang-format

repo-sync-2024-08-02T16:42:42+0800 (#149)
  heu/algorithms/BUILD.bazel
  heu/algorithms/common/he_assert.h
  heu/algorithms/ou/BUILD.bazel
  heu/algorithms/ou/base.cc
  heu/algorithms/ou/base.h
  heu/algorithms/ou/decryptor.cc
  heu/algorithms/ou/decryptor.h
  heu/algorithms/ou/encryptor.cc
  heu/algorithms/ou/encryptor.h
  heu/algorithms/ou/evaluator.cc
  heu/algorithms/ou/evaluator.h
  heu/algorithms/ou/he_kit.cc
  heu/algorithms/ou/he_kit.h
  heu/algorithms/paillier_zahlen/BUILD.bazel
  heu/algorithms/paillier_zahlen/base.cc
  heu/algorithms/paillier_zahlen/base.h
  heu/algorithms/paillier_zahlen/decryptor.cc
  heu/algorithms/paillier_zahlen/decryptor.h
  heu/algorithms/paillier_zahlen/encryptor.cc
  heu/algorithms/paillier_zahlen/encryptor.h
  heu/algorithms/paillier_zahlen/evaluator.cc
  heu/algorithms/paillier_zahlen/evaluator.h
  heu/algorithms/paillier_zahlen/he_kit.cc
  heu/algorithms/paillier_zahlen/he_kit.h
  heu/spi/auto_test/arithmetic_test.cc
Due: buildifier, clang-format

update class Itemtool's serialize/deserialize function
  heu/algorithms/ishe/base.cc
  heu/algorithms/ishe/base.h
Due: clang-format

rewrite serialize part and fix some bugs in encryptor
  heu/algorithms/ishe/base.cc
  heu/algorithms/ishe/base.h
  heu/algorithms/ishe/encryptor.cc
  heu/algorithms/ishe/evaluator.cc
  heu/algorithms/ishe/he_kit.cc
  heu/algorithms/ishe/he_kit.h
Due: clang-format

Modified a function that was deleted by mistake
  heu/algorithms/ishe/base.h
Due: clang-format

repo-sync-2024-08-07T17:46:54+0800
  heu/algorithms/README.md
  heu/algorithms/incubator/README.md
  heu/algorithms/incubator/mock_fhe/BUILD.bazel
  heu/algorithms/incubator/mock_fhe/base.cc
  heu/algorithms/incubator/mock_fhe/base.h
  heu/algorithms/incubator/mock_fhe/decryptor.cc
  heu/algorithms/incubator/mock_fhe/decryptor.h
  heu/algorithms/incubator/mock_fhe/encoders.cc
  heu/algorithms/incubator/mock_fhe/encoders.h
  heu/algorithms/incubator/mock_fhe/encryptor.cc
  heu/algorithms/incubator/mock_fhe/encryptor.h
  heu/algorithms/incubator/mock_fhe/evaluator.cc
  heu/algorithms/incubator/mock_fhe/evaluator.h
  heu/algorithms/incubator/mock_fhe/he_kit.cc
  heu/algorithms/incubator/mock_fhe/he_kit.h
  heu/algorithms/incubator/mock_phe/BUILD.bazel
  heu/algorithms/incubator/mock_phe/base.cc
  heu/algorithms/incubator/mock_phe/base.h
  heu/algorithms/incubator/mock_phe/decryptor.cc
  heu/algorithms/incubator/mock_phe/decryptor.h
  heu/algorithms/incubator/mock_phe/encryptor.cc
  heu/algorithms/incubator/mock_phe/encryptor.h
  heu/algorithms/incubator/mock_phe/evaluator.cc
  heu/algorithms/incubator/mock_phe/evaluator.h
  heu/algorithms/incubator/mock_phe/he_kit.cc
  heu/algorithms/incubator/mock_phe/he_kit.h
  heu/algorithms/mock_phe/decryptor.cc
  heu/experimental/tfhe/src/BUILD.bazel
  heu/library/phe/base/schema.cc
  heu/library/phe/base/schema.h
  heu/library/phe/base/schema_test.cc
  heu/library/phe/base/serializable_types.cc
  heu/library/phe/base/serializable_types.h
  heu/library/phe/phe_test/ser_test.cc
  heu/pylib/numpy_binding/BUILD.bazel
  heu/pylib/numpy_test.py
  heu/pylib/phe_test.py
  heu/spi/README.md
Due: buildifier, clang-format

repo-sync-2024-08-07T19:01:13+0800
  heu/pylib/numpy_test.py
  heu/pylib/phe_test.py
Due: none

repo-sync-2024-08-07T17:46:54+0800 (#150)
  heu/algorithms/README.md
  heu/algorithms/incubator/README.md
  heu/algorithms/incubator/mock_fhe/BUILD.bazel
  heu/algorithms/incubator/mock_fhe/base.cc
  heu/algorithms/incubator/mock_fhe/base.h
  heu/algorithms/incubator/mock_fhe/decryptor.cc
  heu/algorithms/incubator/mock_fhe/decryptor.h
  heu/algorithms/incubator/mock_fhe/encoders.cc
  heu/algorithms/incubator/mock_fhe/encoders.h
  heu/algorithms/incubator/mock_fhe/encryptor.cc
  heu/algorithms/incubator/mock_fhe/encryptor.h
  heu/algorithms/incubator/mock_fhe/evaluator.cc
  heu/algorithms/incubator/mock_fhe/evaluator.h
  heu/algorithms/incubator/mock_fhe/he_kit.cc
  heu/algorithms/incubator/mock_fhe/he_kit.h
  heu/algorithms/incubator/mock_phe/BUILD.bazel
  heu/algorithms/incubator/mock_phe/base.cc
  heu/algorithms/incubator/mock_phe/base.h
  heu/algorithms/incubator/mock_phe/decryptor.cc
  heu/algorithms/incubator/mock_phe/decryptor.h
  heu/algorithms/incubator/mock_phe/encryptor.cc
  heu/algorithms/incubator/mock_phe/encryptor.h
  heu/algorithms/incubator/mock_phe/evaluator.cc
  heu/algorithms/incubator/mock_phe/evaluator.h
  heu/algorithms/incubator/mock_phe/he_kit.cc
  heu/algorithms/incubator/mock_phe/he_kit.h
  heu/algorithms/mock_phe/decryptor.cc
  heu/experimental/tfhe/src/BUILD.bazel
  heu/library/phe/base/schema.cc
  heu/library/phe/base/schema.h
  heu/library/phe/base/schema_test.cc
  heu/library/phe/base/serializable_types.cc
  heu/library/phe/base/serializable_types.h
  heu/library/phe/phe_test/ser_test.cc
  heu/pylib/numpy_binding/BUILD.bazel
  heu/spi/README.md
Due: buildifier, clang-format

repo-sync-2024-08-08T18:53:41+0800
  heu/algorithms/incubator/mock_fhe/base.cc
  heu/algorithms/incubator/mock_fhe/base.h
  heu/algorithms/incubator/mock_fhe/he_kit.cc
  heu/algorithms/incubator/mock_fhe/he_kit.h
  heu/algorithms/incubator/mock_phe/BUILD.bazel
  heu/algorithms/incubator/mock_phe/base.cc
  heu/algorithms/incubator/mock_phe/base.h
  heu/algorithms/incubator/mock_phe/he_kit.cc
  heu/algorithms/incubator/mock_phe/he_kit.h
  heu/algorithms/ou/base.cc
  heu/algorithms/ou/base.h
  heu/algorithms/ou/he_kit.cc
  heu/algorithms/ou/he_kit.h
  heu/algorithms/paillier_zahlen/base.cc
  heu/algorithms/paillier_zahlen/base.h
  heu/algorithms/paillier_zahlen/he_kit.cc
  heu/algorithms/paillier_zahlen/he_kit.h
  heu/spi/auto_test/serialize_test.cc
  heu/spi/he/sketches/common/BUILD.bazel
  heu/spi/he/sketches/common/he_kit.h
  heu/spi/he/sketches/common/item_tool.h
  heu/spi/he/sketches/common/keys.h
  heu/spi/he/sketches/common/pt_ct.h
Due: buildifier, clang-format

repo-sync-2024-08-08T20:49:20+0800
  heu/algorithms/incubator/mock_phe/base.h
  heu/spi/he/sketches/common/he_kit.h
  heu/spi/he/sketches/common/pt_ct.h
Due: clang-format

Modify
  heu/algorithms/incubator/ishe/BUILD.bazel
  heu/algorithms/incubator/ishe/README.md
  heu/algorithms/incubator/ishe/base.cc
  heu/algorithms/incubator/ishe/base.h
  heu/algorithms/incubator/ishe/decryptor.cc
  heu/algorithms/incubator/ishe/decryptor.h
  heu/algorithms/incubator/ishe/encryptor.cc
  heu/algorithms/incubator/ishe/encryptor.h
  heu/algorithms/incubator/ishe/evaluator.cc
  heu/algorithms/incubator/ishe/evaluator.h
  heu/algorithms/incubator/ishe/he_kit.cc
  heu/algorithms/incubator/ishe/he_kit.h
  heu/algorithms/incubator/ishe/ishe_test.cc
Due: buildifier, clang-format

reformat
  heu/algorithms/incubator/ishe/base.h
Due: clang-format

repo-sync-2024-08-08T18:53:41+0800 (#151)
  heu/algorithms/incubator/mock_fhe/base.cc
  heu/algorithms/incubator/mock_fhe/base.h
  heu/algorithms/incubator/mock_fhe/he_kit.cc
  heu/algorithms/incubator/mock_fhe/he_kit.h
  heu/algorithms/incubator/mock_phe/BUILD.bazel
  heu/algorithms/incubator/mock_phe/base.cc
  heu/algorithms/incubator/mock_phe/base.h
  heu/algorithms/incubator/mock_phe/he_kit.cc
  heu/algorithms/incubator/mock_phe/he_kit.h
  heu/algorithms/ou/base.cc
  heu/algorithms/ou/base.h
  heu/algorithms/ou/he_kit.cc
  heu/algorithms/ou/he_kit.h
  heu/algorithms/paillier_zahlen/base.cc
  heu/algorithms/paillier_zahlen/base.h
  heu/algorithms/paillier_zahlen/he_kit.cc
  heu/algorithms/paillier_zahlen/he_kit.h
  heu/spi/auto_test/serialize_test.cc
  heu/spi/he/sketches/common/BUILD.bazel
  heu/spi/he/sketches/common/he_kit.h
  heu/spi/he/sketches/common/item_tool.h
  heu/spi/he/sketches/common/keys.h
  heu/spi/he/sketches/common/pt_ct.h
Due: buildifier, clang-format

modify
  heu/algorithms/incubator/ishe/BUILD.bazel
  heu/algorithms/incubator/ishe/base.cc
  heu/algorithms/incubator/ishe/base.h
  heu/algorithms/incubator/ishe/encryptor.h
  heu/algorithms/incubator/ishe/evaluator.cc
  heu/algorithms/incubator/ishe/evaluator.h
  heu/algorithms/incubator/ishe/he_kit.cc
  heu/algorithms/incubator/ishe/he_kit.h
  heu/algorithms/incubator/ishe/ishe_test.cc
  heu/spi/he/schema.h
Due: buildifier, clang-format

modify & rename
  heu/algorithms/incubator/ishe/base.cc
  heu/algorithms/incubator/ishe/base.h
  heu/algorithms/incubator/ishe/decryptor.h
  heu/algorithms/incubator/ishe/encryptor.cc
  heu/algorithms/incubator/ishe/encryptor.h
  heu/algorithms/incubator/ishe/evaluator.cc
  heu/algorithms/incubator/ishe/evaluator.h
  heu/algorithms/incubator/ishe/he_kit.cc
  heu/algorithms/incubator/ishe/he_kit.h
  heu/algorithms/ishe/ishe.h
Due: clang-format

modify
  heu/algorithms/incubator/ishe/base.h
  heu/algorithms/incubator/ishe/encryptor.cc
  heu/algorithms/incubator/ishe/evaluator.cc
  heu/algorithms/incubator/ishe/evaluator.h
  heu/algorithms/incubator/ishe/he_kit.cc
  heu/algorithms/incubator/ishe/he_kit.h
Due: clang-format

modify
  heu/algorithms/incubator/ishe/base.cc
  heu/algorithms/incubator/ishe/base.h
Due: clang-format

modify
  heu/algorithms/incubator/ishe/encryptor.h
Due: clang-format

update README.md
  heu/algorithms/incubator/ishe/README.md
Due: none

modify README.md
  heu/algorithms/incubator/ishe/README.md
Due: none

add new line at eof on README.md
  heu/algorithms/incubator/ishe/README.md
Due: none

reformat base.cc & base.h
  heu/algorithms/incubator/ishe/base.cc
  heu/algorithms/incubator/ishe/base.h
Due: clang-format

MODIFY
  heu/algorithms/incubator/ishe/BUILD.bazel
  heu/algorithms/incubator/ishe/base.cc
  heu/algorithms/incubator/ishe/base.h
  heu/algorithms/incubator/ishe/decryptor.cc
  heu/algorithms/incubator/ishe/decryptor.h
  heu/algorithms/incubator/ishe/encryptor.cc
  heu/algorithms/incubator/ishe/encryptor.h
  heu/algorithms/incubator/ishe/evaluator.cc
  heu/algorithms/incubator/ishe/evaluator.h
  heu/algorithms/incubator/ishe/he_kit.cc
  heu/algorithms/incubator/ishe/he_kit.h
Due: buildifier, clang-format

MODIFY
  heu/algorithms/incubator/ishe/base.cc
Due: clang-format

MODIFY
  heu/algorithms/incubator/ishe/BUILD.bazel
  heu/algorithms/incubator/ishe/base.h
  heu/algorithms/incubator/ishe/encryptor.h
  heu/algorithms/incubator/ishe/he_kit.cc
  heu/algorithms/incubator/ishe/he_kit.h
Due: buildifier, clang-format

add test_file
  heu/algorithms/incubator/ishe/ishe_test.cc
Due: clang-format

modify
  heu/algorithms/incubator/ishe/ishe_test.cc
Due: clang-format

reformat
  heu/algorithms/incubator/ishe/ishe_test.cc
Due: clang-format

modify
  heu/algorithms/incubator/ishe/base.cc
  heu/algorithms/incubator/ishe/base.h
  heu/algorithms/incubator/ishe/ishe_test.cc
Due: clang-format

modify
  heu/algorithms/incubator/ishe/encryptor.cc
Due: clang-format

add iSHE algorithm to HEU (#148)
  heu/algorithms/incubator/ishe/BUILD.bazel
  heu/algorithms/incubator/ishe/README.md
  heu/algorithms/incubator/ishe/base.cc
  heu/algorithms/incubator/ishe/base.h
  heu/algorithms/incubator/ishe/decryptor.cc
  heu/algorithms/incubator/ishe/decryptor.h
  heu/algorithms/incubator/ishe/encryptor.cc
  heu/algorithms/incubator/ishe/encryptor.h
  heu/algorithms/incubator/ishe/evaluator.cc
  heu/algorithms/incubator/ishe/evaluator.h
  heu/algorithms/incubator/ishe/he_kit.cc
  heu/algorithms/incubator/ishe/he_kit.h
  heu/algorithms/incubator/ishe/ishe_test.cc
  heu/spi/he/schema.h
Due: buildifier, clang-format

repo-sync-2024-10-14T17:48:53+0800
  CHANGELOGS.md
  WORKSPACE
  heu/algorithms/incubator/ishe/BUILD.bazel
  heu/algorithms/incubator/ishe/README.md
  heu/algorithms/incubator/ishe/base.cc
  heu/algorithms/incubator/ishe/base.h
  heu/algorithms/incubator/ishe/decryptor.cc
  heu/algorithms/incubator/ishe/decryptor.h
  heu/algorithms/incubator/ishe/encryptor.cc
  heu/algorithms/incubator/ishe/encryptor.h
  heu/algorithms/incubator/ishe/evaluator.cc
  heu/algorithms/incubator/ishe/evaluator.h
  heu/algorithms/incubator/ishe/he_kit.cc
  heu/algorithms/incubator/ishe/he_kit.h
  heu/algorithms/incubator/ishe/ishe_test.cc
  heu/algorithms/incubator/mock_fhe/encryptor.cc
  heu/algorithms/paillier_zahlen/base.cc
  heu/algorithms/paillier_zahlen/base.h
  heu/algorithms/paillier_zahlen/decryptor.cc
  heu/experimental/tfhe/src/BUILD.bazel
  heu/library/algorithms/paillier_ic/decryptor.cc
  heu/library/algorithms/paillier_zahlen/decryptor.cc
  heu/library/algorithms/paillier_zahlen/secret_key.cc
  heu/library/algorithms/paillier_zahlen/secret_key.h
  heu/library/numpy/shape.h
  heu/library/phe/base/schema.h
  heu/pylib/numpy_binding/BUILD.bazel
  heu/spi/he/schema.h
  heu/spi/he/sketches/common/item_tool.h
  heu/spi/he/sketches/common/keys.cc
  heu/spi/utils/formater.h
  third_party/bazel_cpp/repositories.bzl
Due: buildifier, clang-format

repo-sync-2024-10-14T19:21:55+0800
  heu/algorithms/incubator/ishe/BUILD.bazel
  heu/algorithms/incubator/ishe/README.md
  heu/algorithms/incubator/ishe/base.cc
  heu/algorithms/incubator/ishe/base.h
  heu/algorithms/incubator/ishe/decryptor.cc
  heu/algorithms/incubator/ishe/decryptor.h
  heu/algorithms/incubator/ishe/encryptor.cc
  heu/algorithms/incubator/ishe/encryptor.h
  heu/algorithms/incubator/ishe/evaluator.cc
  heu/algorithms/incubator/ishe/evaluator.h
  heu/algorithms/incubator/ishe/he_kit.cc
  heu/algorithms/incubator/ishe/he_kit.h
  heu/algorithms/incubator/ishe/ishe_test.cc
  heu/algorithms/paillier_zahlen/base.cc
  heu/library/algorithms/paillier_zahlen/public_key.cc
  heu/library/algorithms/paillier_zahlen/public_key.h
  heu/library/algorithms/paillier_zahlen/secret_key.cc
  heu/library/phe/base/schema.h
  heu/spi/he/schema.h
Due: buildifier, clang-format
