Repository secretflow/heu: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

update bazel remote cache
  .circleci/continue-config.yml
Due: none

min_download is default now
  .circleci/continue-config.yml
Due: none

CI: update bazel remote cache (#193)
  .circleci/continue-config.yml
Due: none

chore(deps): update bazel to 7.7.0
  .bazeliskrc
  MODULE.bazel
Due: buildifier

fix invoking bazel_cache_setup.py error
  .circleci/continue-config.yml
Due: none

update macos resource class to m4pro.medium
  .circleci/continue-config.yml
Due: none

update xcode image
  .circleci/continue-config.yml
Due: none

update circleci macos resource class and xcode
  .circleci/continue-config.yml
  .circleci/release-config.yml
Due: none

use bazel 7.7.1
  .bazeliskrc
Due: none

fix compile error on macos
  heu/library/algorithms/mock/plaintext.h
Due: clang-format

fix: ignore -Wmissing-template-arg-list-after-template-kw warning on macOS
  .bazelrc
Due: none

fix: ignore vla-cxx-extension error on macos
  .bazelrc
Due: none

chore(build): update bazel to 7.7.1 (#194)
  .bazeliskrc
  .bazelrc
  .circleci/continue-config.yml
  .circleci/release-config.yml
  MODULE.bazel
  heu/library/algorithms/mock/plaintext.h
Due: buildifier, clang-format

Fix compatibility with newest version python_rules
  MODULE.bazel
  heu/pylib/BUILD.bazel
Due: buildifier

Fix compatibility with newest version python_rules (#196)
  MODULE.bazel
  heu/pylib/BUILD.bazel
Due: buildifier

Fix missing pmod in ForwardCore
  heu/experimental/bfv/math/ntt.cc
Due: clang-format

Fix BFV review issues and x64 CI failures
  heu/experimental/bfv/BUILD.bazel
  heu/experimental/bfv/crypto/evaluation_key_impl.h
  heu/experimental/bfv/crypto/galois_key.cc
  heu/experimental/bfv/crypto/galois_key_impl.h
  heu/experimental/bfv/crypto/key_switching_key_impl.h
  heu/experimental/bfv/crypto/operations.h
  heu/experimental/bfv/crypto/operations_impl.h
  heu/experimental/bfv/crypto/operators.cc
  heu/experimental/bfv/crypto/public_key.cc
  heu/experimental/bfv/crypto/public_key_impl.h
  heu/experimental/bfv/crypto/relinearization_key_impl.h
  heu/experimental/bfv/crypto/rng_bridge.h
  heu/experimental/bfv/crypto/secret_key_impl.h
  heu/experimental/bfv/crypto/serialization/serialization_exceptions.h
  heu/experimental/bfv/crypto/test/test_galois_key.cc
  heu/experimental/bfv/math/ntt.cc
Due: buildifier, clang-format

add a new partially homomorphic algorithm (#198)
  heu/library/algorithms/ashe/BUILD.bazel
  heu/library/algorithms/ashe/ashe.h
  heu/library/algorithms/ashe/ashe_tests.cc
  heu/library/algorithms/ashe/ciphertext.h
  heu/library/algorithms/ashe/decryptor.cc
  heu/library/algorithms/ashe/decryptor.h
  heu/library/algorithms/ashe/encryptor.cc
  heu/library/algorithms/ashe/encryptor.h
  heu/library/algorithms/ashe/evaluator.cc
  heu/library/algorithms/ashe/evaluator.h
  heu/library/algorithms/ashe/key_generator.cc
  heu/library/algorithms/ashe/key_generator.h
  heu/library/algorithms/ashe/public_parameters.cc
  heu/library/algorithms/ashe/public_parameters.h
  heu/library/algorithms/ashe/secret_key.h
Due: buildifier, clang-format

Add GPU accelerated Paillier & OU homomorphic encryption implementation
  heu/library/algorithms/ou_new/FMLM.cu
  heu/library/algorithms/ou_new/ou_addandsubp.cu
  heu/library/algorithms/ou_new/ou_addhomo.cu
  heu/library/algorithms/ou_new/ou_dec.cu
  heu/library/algorithms/ou_new/ou_dec_complete.cu
  heu/library/algorithms/ou_new/ou_enc.cu
  heu/library/algorithms/ou_new/ou_mulplain.cu
  heu/library/algorithms/ou_new/ou_randc.cu
  heu/library/algorithms/ou_new/ou_subhomo.cu
  heu/library/algorithms/paillier_new/paillier_addhomo.cu
  heu/library/algorithms/paillier_new/paillier_caddandsubp.cu
  heu/library/algorithms/paillier_new/paillier_dec.cu
  heu/library/algorithms/paillier_new/paillier_dec_complete.cu
  heu/library/algorithms/paillier_new/paillier_enc.cu
  heu/library/algorithms/paillier_new/paillier_mulp.cu
  heu/library/algorithms/paillier_new/paillier_randc.cu
  heu/library/algorithms/paillier_new/paillier_subhomo.cu
  heu/library/algorithms/paillier_new/pallier_caddandsubp2.cu
Due: none

style: fix format and line endings for ou_dec_complete.cu
  heu/library/algorithms/ou_new/ou_dec_complete.cu
Due: none

style: format all .cu files and fix line endings for ou_new and paillier_new
  heu/library/algorithms/ou_new/FMLM.cu
  heu/library/algorithms/ou_new/ou_addandsubp.cu
  heu/library/algorithms/ou_new/ou_addhomo.cu
  heu/library/algorithms/ou_new/ou_dec.cu
  heu/library/algorithms/ou_new/ou_dec_complete.cu
  heu/library/algorithms/ou_new/ou_enc.cu
  heu/library/algorithms/ou_new/ou_mulplain.cu
  heu/library/algorithms/ou_new/ou_randc.cu
  heu/library/algorithms/ou_new/ou_subhomo.cu
  heu/library/algorithms/paillier_new/paillier_addhomo.cu
  heu/library/algorithms/paillier_new/paillier_caddandsubp.cu
  heu/library/algorithms/paillier_new/paillier_dec.cu
  heu/library/algorithms/paillier_new/paillier_dec_complete.cu
  heu/library/algorithms/paillier_new/paillier_enc.cu
  heu/library/algorithms/paillier_new/paillier_mulp.cu
  heu/library/algorithms/paillier_new/paillier_randc.cu
  heu/library/algorithms/paillier_new/paillier_subhomo.cu
  heu/library/algorithms/paillier_new/pallier_caddandsubp2.cu
Due: none

style: fix clang-format issues in CUDA files
  heu/library/algorithms/ou_new/FMLM.cu
  heu/library/algorithms/ou_new/ou_addandsubp.cu
  heu/library/algorithms/ou_new/ou_addhomo.cu
  heu/library/algorithms/ou_new/ou_dec.cu
  heu/library/algorithms/ou_new/ou_enc.cu
  heu/library/algorithms/ou_new/ou_mulplain.cu
  heu/library/algorithms/ou_new/ou_randc.cu
  heu/library/algorithms/ou_new/ou_subhomo.cu
  heu/library/algorithms/paillier_new/paillier_addhomo.cu
  heu/library/algorithms/paillier_new/paillier_caddandsubp.cu
  heu/library/algorithms/paillier_new/paillier_dec.cu
  heu/library/algorithms/paillier_new/paillier_dec_complete.cu
  heu/library/algorithms/paillier_new/paillier_enc.cu
  heu/library/algorithms/paillier_new/paillier_mulp.cu
  heu/library/algorithms/paillier_new/paillier_randc.cu
  heu/library/algorithms/paillier_new/paillier_subhomo.cu
  heu/library/algorithms/paillier_new/pallier_caddandsubp2.cu
Due: none

style: align CUDA code with clang-format
  heu/library/algorithms/ou_new/FMLM.cu
  heu/library/algorithms/ou_new/ou_addandsubp.cu
  heu/library/algorithms/ou_new/ou_addhomo.cu
  heu/library/algorithms/ou_new/ou_dec.cu
  heu/library/algorithms/ou_new/ou_enc.cu
  heu/library/algorithms/ou_new/ou_mulplain.cu
  heu/library/algorithms/ou_new/ou_randc.cu
  heu/library/algorithms/ou_new/ou_subhomo.cu
  heu/library/algorithms/paillier_new/paillier_addhomo.cu
  heu/library/algorithms/paillier_new/paillier_caddandsubp.cu
  heu/library/algorithms/paillier_new/paillier_dec.cu
  heu/library/algorithms/paillier_new/paillier_dec_complete.cu
  heu/library/algorithms/paillier_new/paillier_enc.cu
  heu/library/algorithms/paillier_new/paillier_mulp.cu
  heu/library/algorithms/paillier_new/paillier_randc.cu
  heu/library/algorithms/paillier_new/paillier_subhomo.cu
  heu/library/algorithms/paillier_new/pallier_caddandsubp2.cu
Due: none

ci: use free CircleCI resource classes
  .circleci/continue-config.yml
Due: none

ci: limit Bazel parallelism on free resources
  .circleci/continue-config.yml
Due: none

ci: use free CircleCI resource classes (#202)
  .circleci/continue-config.yml
Due: none

chore: add license headers to CUDA files
  heu/library/algorithms/ou_new/FMLM.cu
  heu/library/algorithms/ou_new/ou_addandsubp.cu
  heu/library/algorithms/ou_new/ou_addhomo.cu
  heu/library/algorithms/ou_new/ou_dec.cu
  heu/library/algorithms/ou_new/ou_dec_complete.cu
  heu/library/algorithms/ou_new/ou_enc.cu
  heu/library/algorithms/ou_new/ou_mulplain.cu
  heu/library/algorithms/ou_new/ou_randc.cu
  heu/library/algorithms/ou_new/ou_subhomo.cu
  heu/library/algorithms/paillier_new/paillier_addhomo.cu
  heu/library/algorithms/paillier_new/paillier_caddandsubp.cu
  heu/library/algorithms/paillier_new/paillier_dec.cu
  heu/library/algorithms/paillier_new/paillier_dec_complete.cu
  heu/library/algorithms/paillier_new/paillier_enc.cu
  heu/library/algorithms/paillier_new/paillier_mulp.cu
  heu/library/algorithms/paillier_new/paillier_randc.cu
  heu/library/algorithms/paillier_new/paillier_subhomo.cu
  heu/library/algorithms/paillier_new/pallier_caddandsubp2.cu
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$
  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
