Repository secretflow/heu: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format

.pre-commit-config.yaml:

#  Copyright 2022 Ant Group Co., Ltd.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.

# Install hooks to run automatically on git commit: (Only needs to be run once)
#  >>  pre-commit install
#
# If the pre-commit command does not exist, please run
#  >>  pip install pre-commit
# to install it.
repos:
  # buildifier
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier # -mode check
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$'

  # clang-format
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: [ "-i" ]

set eof=LF for conf.py
  docs/conf.py
Due: none

[docs] add numpy_api.po doc in Chinese
  docs/locale/zh_CN/LC_MESSAGES/references/numpy_api.po
Due: none

All CRLF to LF
  docs/locale/en/LC_MESSAGES/development/arch.po
  docs/locale/en/LC_MESSAGES/development/index.po
  docs/locale/en/LC_MESSAGES/development/phe_dev.po
  docs/locale/en/LC_MESSAGES/getting_started/algo_choice.po
  docs/locale/en/LC_MESSAGES/getting_started/faq.po
  docs/locale/en/LC_MESSAGES/getting_started/index.po
  docs/locale/en/LC_MESSAGES/getting_started/installation.po
  docs/locale/en/LC_MESSAGES/getting_started/numpy.po
  docs/locale/en/LC_MESSAGES/getting_started/quick_start.po
  docs/locale/en/LC_MESSAGES/index.po
  docs/locale/en/LC_MESSAGES/references/index.po
  docs/locale/en/LC_MESSAGES/references/numpy_api.po
  docs/locale/en/LC_MESSAGES/references/phe_api.po
  docs/locale/en/LC_MESSAGES/references/upgrade_guide.po
  docs/make.bat
Due: none

Reformatted docs/conf.py using black locally
  docs/conf.py
Due: none

add missing messages in phe_api.po
  docs/locale/zh_CN/LC_MESSAGES/development/arch.po
  docs/locale/zh_CN/LC_MESSAGES/development/index.po
  docs/locale/zh_CN/LC_MESSAGES/development/phe_dev.po
  docs/locale/zh_CN/LC_MESSAGES/getting_started/algo_choice.po
  docs/locale/zh_CN/LC_MESSAGES/getting_started/faq.po
  docs/locale/zh_CN/LC_MESSAGES/getting_started/index.po
  docs/locale/zh_CN/LC_MESSAGES/getting_started/installation.po
  docs/locale/zh_CN/LC_MESSAGES/getting_started/numpy.po
  docs/locale/zh_CN/LC_MESSAGES/getting_started/quick_start.po
  docs/locale/zh_CN/LC_MESSAGES/index.po
  docs/locale/zh_CN/LC_MESSAGES/references/index.po
  docs/locale/zh_CN/LC_MESSAGES/references/numpy_api.po
  docs/locale/zh_CN/LC_MESSAGES/references/phe_api.po
  docs/locale/zh_CN/LC_MESSAGES/references/upgrade_guide.po
Due: none

delete #~
  docs/locale/zh_CN/LC_MESSAGES/references/phe_api.po
Due: none

【OSCP】【文档季】【HEU】文档「PHE 模块」翻译成中文文档 (#175)
  docs/conf.py
  docs/locale/zh_CN/LC_MESSAGES/references/phe_api.po
  docs/make.bat
Due: none

Update random_test.cc
  heu/library/numpy/random_test.cc
Due: clang-format

fix clang-format lint errors
  heu/library/algorithms/elgamal/scalar_decryptor.h
  heu/library/algorithms/paillier_ipcl/ciphertext.h
  heu/library/phe/base/schema.cc
Due: clang-format

fix clang-format lint errors (#179)
  heu/library/algorithms/elgamal/scalar_decryptor.h
  heu/library/algorithms/paillier_ipcl/ciphertext.h
  heu/library/phe/base/schema.cc
Due: clang-format

[docs] add numpy_api.po doc in Chinese (#180)
  docs/locale/zh_CN/LC_MESSAGES/references/numpy_api.po
Due: none

fix: fix typo in the doc of heu
  docs/references/upgrade_guide.rst
Due: none

fix: fix typo in the doc of heu (#181)
  docs/references/upgrade_guide.rst
Due: none

Update release-config.yml
  .circleci/release-config.yml
Due: none

repo-sync-2025-05-07T15:21:34+0800
  README_cn.md
  heu/experimental/gpu-ckks/README.md
  heu/pylib/numpy_test.py
  heu/pylib/phe_test.py
  third_party/bazel_cpp/repositories.bzl
Due: buildifier

repo-sync-2025-05-07T15:43:34+0800
  heu/library/algorithms/ou/encryptor_test.cc
Due: clang-format

Update version.py
  heu/pylib/version.py
Due: none

Update MODULE.bazel
  MODULE.bazel
Due: buildifier

Bump to 0.6.0.dev20250507 (#184)
  MODULE.bazel
  heu/pylib/version.py
Due: buildifier

Update release-config.yml (#185)
  .circleci/release-config.yml
Due: none

Update release-config.yml (#186)
  .circleci/release-config.yml
Due: none

repo-sync-2025-05-14T19:21:41+0800
  .circleci/release-config.yml
  MODULE.bazel
Due: buildifier

repo-sync-2025-05-14T19:21:41+0800 (#187)
  .circleci/release-config.yml
  MODULE.bazel
  heu/pylib/version.py
Due: buildifier

Bump version to 0.6.0b0 (#189)
  MODULE.bazel
  heu/pylib/version.py
Due: buildifier

chore: update config for docs
  .gitignore
  docs/CONTRIBUTING.md
  docs/Makefile
  docs/conf.py
  docs/development/arch.rst
  docs/development/phe_dev.rst
  docs/getting_started/faq.rst
  docs/images/CONTRIBUTING/preview-content.png
  docs/images/CONTRIBUTING/preview-sitemap.png
  docs/locale/en/LC_MESSAGES/development/arch.po
  docs/locale/en/LC_MESSAGES/development/phe_dev.po
  docs/locale/en/LC_MESSAGES/getting_started/faq.po
  docs/locale/en/LC_MESSAGES/references/upgrade_guide.po
  docs/make.bat
  docs/readme.md
  docs/requirements.txt
Due: none

chore: poedit.png
  docs/CONTRIBUTING.md
  docs/images/CONTRIBUTING/poedit.png
Due: none

chore: update config for docs (#190)
  .gitignore
  docs/CONTRIBUTING.md
  docs/Makefile
  docs/conf.py
  docs/development/arch.rst
  docs/development/phe_dev.rst
  docs/getting_started/faq.rst
  docs/images/CONTRIBUTING/poedit.png
  docs/images/CONTRIBUTING/preview-content.png
  docs/images/CONTRIBUTING/preview-sitemap.png
  docs/locale/en/LC_MESSAGES/development/arch.po
  docs/locale/en/LC_MESSAGES/development/phe_dev.po
  docs/locale/en/LC_MESSAGES/getting_started/faq.po
  docs/locale/en/LC_MESSAGES/references/upgrade_guide.po
  docs/make.bat
  docs/readme.md
  docs/requirements.txt
Due: none

add docs publish
  .circleci/config.yml
Due: none

add docs publish
  .circleci/config.yml
  .github/workflows/docs-publish.yml
Due: none

add docs publish (#192)
  .github/workflows/docs-publish.yml
Due: none
