Repository secretflow/heu: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

repo-sync-2024-03-21T19:13:13+0800
  heu/pylib/numpy_test.py
  heu/pylib/phe_test.py
Due: none

Update base.h
  heu/algorithms/mock_fhe/base.h
Due: clang-format

Update tool.cc
  heu/spi/auto_test/tool.cc
Due: clang-format

repo-sync-2024-03-21T19:06:22+0800 (#134)
  .bazelrc
  .pre-commit-config.yaml
  WORKSPACE
  heu/algorithms/mock_fhe/BUILD.bazel
  heu/algorithms/mock_fhe/base.cc
  heu/algorithms/mock_fhe/base.h
  heu/algorithms/mock_fhe/decryptor.cc
  heu/algorithms/mock_fhe/decryptor.h
  heu/algorithms/mock_fhe/encoders.cc
  heu/algorithms/mock_fhe/encoders.h
  heu/algorithms/mock_fhe/encryptor.cc
  heu/algorithms/mock_fhe/encryptor.h
  heu/algorithms/mock_fhe/evaluator.cc
  heu/algorithms/mock_fhe/evaluator.h
  heu/algorithms/mock_fhe/he_kit.cc
  heu/algorithms/mock_fhe/he_kit.h
  heu/library/algorithms/elgamal/BUILD.bazel
  heu/library/algorithms/elgamal/ciphertext.h
  heu/library/algorithms/elgamal/key_generator.cc
  heu/library/algorithms/elgamal/public_key.h
  heu/library/algorithms/elgamal/secret_key.h
  heu/library/algorithms/elgamal/utils/BUILD.bazel
  heu/library/algorithms/elgamal/utils/lookup_table.h
  heu/spi/auto_test/ckks_test.cc
  heu/spi/auto_test/tool.cc
Due: buildifier, clang-format

add paillier algorithm support with denglin's gpu card with fix pull request issues
  heu/library/algorithms/paillier_dl/cgbn_wrapper/cgbn_wrapper.cu.cc
  heu/library/algorithms/paillier_dl/paillier_test.cc
Due: clang-format

replace mp_digit with uint64_t
  heu/library/algorithms/paillier_dl/cgbn_wrapper/cgbn_wrapper.cu.cc
Due: clang-format

Fix cgbn patch
  third_party/bazel_cpp/patches/cgbn.patch
Due: none

Update gpu_paillier.h
  heu/library/algorithms/paillier_gpu/gpulib/gpu_paillier.h
Due: clang-format

Update gpu_paillier.h (#135)
  heu/library/algorithms/paillier_gpu/gpulib/gpu_paillier.h
Due: clang-format

repo-sync-2024-05-29T11:18:59+0800
  WORKSPACE
  heu/algorithms/mock_fhe/he_kit.cc
  heu/library/algorithms/elgamal/key_generator.cc
  heu/library/algorithms/paillier_gpu/README.md
  heu/library/numpy/matrix.h
  heu/library/phe/base/schema.h
  heu/pylib/phe_binding/bind_phe.cc
  heu/pylib/phe_test.py
  heu/pylib/version.py
  heu/spi/he/sketches/README.md
  third_party/bazel_cpp/repositories.bzl
Due: buildifier, clang-format

Update WORKSPACE
  WORKSPACE
Due: buildifier

Reformat bazel file
  third_party/bazel_cpp/repositories.bzl
Due: buildifier

Reformat code
  heu/library/phe/base/schema.h
Due: clang-format

repo-sync-2024-05-29T11:18:59+0800 (#136)
  WORKSPACE
  heu/algorithms/mock_fhe/he_kit.cc
  heu/library/algorithms/elgamal/key_generator.cc
  heu/library/algorithms/paillier_gpu/README.md
  heu/library/numpy/matrix.h
  heu/pylib/phe_binding/bind_phe.cc
  heu/pylib/phe_test.py
  heu/pylib/version.py
  heu/spi/he/sketches/README.md
Due: buildifier, clang-format

repo-sync-2024-06-17T19:10:28+0800
  WORKSPACE
  heu/experimental/gemini-rlwe/poly_encoder.cc
  heu/library/algorithms/paillier_clustar_fpga/fpga_engine/paillier_operators/paillier_operators.cc
  heu/library/algorithms/paillier_ipcl/utils.cc
  heu/pylib/version.py
  third_party/bazel_cpp/repositories.bzl
Due: buildifier, clang-format

Update version.py
  heu/pylib/version.py
Due: none

Update .bazelversion
  .bazelversion
Due: none

Update requirements.txt
  requirements.txt
Due: none

Update continue-config.yml
  .circleci/continue-config.yml
Due: none

Update BUILD.bazel
  heu/pylib/numpy_binding/BUILD.bazel
Due: buildifier

repo-sync-2024-06-20T15:21:55+0800
  .bazelversion
  .circleci/continue-config.yml
  WORKSPACE
  heu/pylib/numpy_binding/BUILD.bazel
  heu/pylib/version.py
  requirements.txt
Due: buildifier

repo-sync-2024-06-20T15:21:55+0800 (#137)
  WORKSPACE
  heu/experimental/gemini-rlwe/poly_encoder.cc
  heu/library/algorithms/paillier_clustar_fpga/fpga_engine/paillier_operators/paillier_operators.cc
  heu/library/algorithms/paillier_ipcl/utils.cc
  heu/pylib/numpy_binding/BUILD.bazel
  heu/pylib/version.py
  third_party/bazel_cpp/repositories.bzl
Due: buildifier, clang-format

Fix merge error
  .circleci/release-config.yml
Due: none

Bump to version 0.5.1
  heu/pylib/version.py
Due: none

Update yacl version
  third_party/bazel_cpp/repositories.bzl
Due: buildifier

Update yacl version (#142)
  third_party/bazel_cpp/repositories.bzl
Due: buildifier

Update yacl version (#144)
  third_party/bazel_cpp/repositories.bzl
Due: buildifier

add algorithm(ishe) which is an improved symmetric homomorphic encryption algorithm
  heu/algorithms/ishe/BUILD.bazel
  heu/algorithms/ishe/base.cc
  heu/algorithms/ishe/base.h
  heu/algorithms/ishe/decryptor.cc
  heu/algorithms/ishe/decryptor.h
  heu/algorithms/ishe/encryptor.cc
  heu/algorithms/ishe/encryptor.h
  heu/algorithms/ishe/evaluator.cc
  heu/algorithms/ishe/evaluator.h
  heu/algorithms/ishe/he_kit.cc
  heu/algorithms/ishe/he_kit.h
  heu/algorithms/ishe/ishe.h
  heu/algorithms/ishe/ishe_test.cc
  heu/spi/he/schema.h
Due: buildifier, clang-format

1
  heu/algorithms/ishe/base.h
Due: clang-format

modify and add README.md
  heu/algorithms/ishe/README.md
  heu/algorithms/ishe/base.cc
  heu/algorithms/ishe/base.h
  heu/algorithms/ishe/decryptor.h
  heu/algorithms/ishe/ishe_test.cc
Due: clang-format

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$
  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
