Repository secretflow/heu: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format

.pre-commit-config.yaml:

#  Copyright 2022 Ant Group Co., Ltd.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.

# Install hooks to run automatically on git commit: (Only needs to be run once)
#  >>  pre-commit install
#
# If the pre-commit command does not exist, please run
#  >>  pip install pre-commit
# to install it.
repos:
  # buildifier
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier # -mode check
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$'

  # clang-format
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: [ "-i" ]

Update BUILD.bazel
  heu/experimental/tfhe/src/BUILD.bazel
Due: buildifier

Update BUILD.bazel
  heu/pylib/numpy_binding/BUILD.bazel
Due: buildifier

Update repositories.bzl
  third_party/bazel_cpp/repositories.bzl
Due: buildifier

Update base.cc
  heu/algorithms/paillier_zahlen/base.cc
Due: clang-format

Update public_key.cc
  heu/library/algorithms/paillier_zahlen/public_key.cc
Due: clang-format

Update public_key.h
  heu/library/algorithms/paillier_zahlen/public_key.h
Due: clang-format

Update secret_key.cc
  heu/library/algorithms/paillier_zahlen/secret_key.cc
Due: clang-format

Update schema.h
  heu/library/phe/base/schema.h
Due: clang-format

Update version.py
  heu/pylib/version.py
Due: none

repo-sync-2024-10-14T19:21:55+0800 (#157)
  CHANGELOGS.md
  WORKSPACE
  heu/algorithms/incubator/mock_fhe/encryptor.cc
  heu/algorithms/paillier_zahlen/base.cc
  heu/algorithms/paillier_zahlen/base.h
  heu/algorithms/paillier_zahlen/decryptor.cc
  heu/library/algorithms/paillier_ic/decryptor.cc
  heu/library/algorithms/paillier_zahlen/decryptor.cc
  heu/library/algorithms/paillier_zahlen/secret_key.cc
  heu/library/algorithms/paillier_zahlen/secret_key.h
  heu/library/numpy/shape.h
  heu/library/phe/base/schema.h
  heu/pylib/version.py
  heu/spi/he/sketches/common/item_tool.h
  heu/spi/he/sketches/common/keys.cc
  heu/spi/utils/formater.h
  third_party/bazel_cpp/repositories.bzl
Due: buildifier, clang-format

repo-sync-2024-11-06T10:37:34+0800
  .licenserc.yaml
  heu/experimental/tfhe/src/BUILD.bazel
  heu/library/algorithms/paillier_zahlen/public_key.cc
  heu/library/phe/base/serializable_types.cc
  heu/library/phe/phe_test/ser_test.cc
  heu/pylib/numpy_binding/BUILD.bazel
  heu/pylib/version.py
  third_party/bazel_cpp/repositories.bzl
Due: buildifier, clang-format

repo-sync-2024-11-06T10:37:34+0800 (#158)
  .licenserc.yaml
  heu/experimental/tfhe/src/BUILD.bazel
  heu/library/algorithms/paillier_zahlen/public_key.cc
  heu/library/phe/base/serializable_types.cc
  heu/library/phe/phe_test/ser_test.cc
  heu/pylib/numpy_binding/BUILD.bazel
  heu/pylib/version.py
Due: buildifier, clang-format

repo-sync-2024-12-19T16:16:02+0800
  heu/library/algorithms/paillier_clustar_fpga/fpga_engine/driver/driver.cc
  heu/pylib/version.py
  third_party/bazel_cpp/repositories.bzl
Due: buildifier, clang-format

repo-sync-2024-12-19T16:16:02+0800 (#160)
  heu/library/algorithms/paillier_clustar_fpga/fpga_engine/driver/driver.cc
  heu/pylib/version.py
Due: clang-format

Bump version to 0.5.2
  heu/pylib/version.py
Due: none

Update README_cn.md
  README_cn.md
Due: none

Update README.md
  heu/experimental/gpu-ckks/README.md
Due: none

Automate publishing heu to bazel-registry
  .bcr/metadata.template.json
  .bcr/presubmit.yml
  .bcr/source.template.json
Due: none

Bump to 0.6.0.dev20250123
  MODULE.bazel
Due: buildifier

ignore .bcr for license checker
  .licenserc.yaml
Due: none

Automate publishing heu to bazel-registry (#163)
  .bcr/metadata.template.json
  .bcr/presubmit.yml
  .bcr/source.template.json
  .licenserc.yaml
  MODULE.bazel
Due: buildifier

chore: add unassign stale oscp issue workflow
  .github/workflows/oscp.yml
Due: none

chore: add unassign stale oscp issue workflow (#172)
  .github/workflows/oscp.yml
Due: none

translate phe_api
  docs/locale/zh_CN/LC_MESSAGES/development/arch.mo
  docs/locale/zh_CN/LC_MESSAGES/development/arch.po
  docs/locale/zh_CN/LC_MESSAGES/development/index.mo
  docs/locale/zh_CN/LC_MESSAGES/development/index.po
  docs/locale/zh_CN/LC_MESSAGES/development/phe_dev.mo
  docs/locale/zh_CN/LC_MESSAGES/development/phe_dev.po
  docs/locale/zh_CN/LC_MESSAGES/getting_started/algo_choice.mo
  docs/locale/zh_CN/LC_MESSAGES/getting_started/algo_choice.po
  docs/locale/zh_CN/LC_MESSAGES/getting_started/faq.mo
  docs/locale/zh_CN/LC_MESSAGES/getting_started/faq.po
  docs/locale/zh_CN/LC_MESSAGES/getting_started/index.mo
  docs/locale/zh_CN/LC_MESSAGES/getting_started/index.po
  docs/locale/zh_CN/LC_MESSAGES/getting_started/installation.mo
  docs/locale/zh_CN/LC_MESSAGES/getting_started/installation.po
  docs/locale/zh_CN/LC_MESSAGES/getting_started/numpy.mo
  docs/locale/zh_CN/LC_MESSAGES/getting_started/numpy.po
  docs/locale/zh_CN/LC_MESSAGES/getting_started/quick_start.mo
  docs/locale/zh_CN/LC_MESSAGES/getting_started/quick_start.po
  docs/locale/zh_CN/LC_MESSAGES/index.mo
  docs/locale/zh_CN/LC_MESSAGES/index.po
  docs/locale/zh_CN/LC_MESSAGES/references/index.mo
  docs/locale/zh_CN/LC_MESSAGES/references/index.po
  docs/locale/zh_CN/LC_MESSAGES/references/numpy_api.mo
  docs/locale/zh_CN/LC_MESSAGES/references/numpy_api.po
  docs/locale/zh_CN/LC_MESSAGES/references/phe_api.mo
  docs/locale/zh_CN/LC_MESSAGES/references/phe_api.po
  docs/locale/zh_CN/LC_MESSAGES/references/upgrade_guide.mo
  docs/locale/zh_CN/LC_MESSAGES/references/upgrade_guide.po
Due: none

[docs] Fix issues in "Installation"
  docs/getting_started/installation.rst
  docs/locale/en/LC_MESSAGES/getting_started/installation.po
Due: none

[docs] Delete commented content in "Installation"
  docs/locale/en/LC_MESSAGES/getting_started/installation.po
Due: none

[docs] Fix issues in "Installation" (#174)
  docs/getting_started/installation.rst
  docs/locale/en/LC_MESSAGES/getting_started/installation.po
Due: none

add zh_CN directory; add autoclass_content in conf.py; anotate fuzzy tag in phe_api.po
  docs/conf.py
  docs/locale/en/LC_MESSAGES/development/arch.po
  docs/locale/en/LC_MESSAGES/development/index.po
  docs/locale/en/LC_MESSAGES/development/phe_dev.po
  docs/locale/en/LC_MESSAGES/getting_started/algo_choice.po
  docs/locale/en/LC_MESSAGES/getting_started/faq.po
  docs/locale/en/LC_MESSAGES/getting_started/index.po
  docs/locale/en/LC_MESSAGES/getting_started/installation.po
  docs/locale/en/LC_MESSAGES/getting_started/numpy.po
  docs/locale/en/LC_MESSAGES/getting_started/quick_start.po
  docs/locale/en/LC_MESSAGES/index.po
  docs/locale/en/LC_MESSAGES/references/index.po
  docs/locale/en/LC_MESSAGES/references/numpy_api.po
  docs/locale/en/LC_MESSAGES/references/phe_api.po
  docs/locale/en/LC_MESSAGES/references/upgrade_guide.po
  docs/locale/zh_CN/LC_MESSAGES/development/arch.po
  docs/locale/zh_CN/LC_MESSAGES/development/index.po
  docs/locale/zh_CN/LC_MESSAGES/development/phe_dev.po
  docs/locale/zh_CN/LC_MESSAGES/getting_started/algo_choice.po
  docs/locale/zh_CN/LC_MESSAGES/getting_started/faq.po
  docs/locale/zh_CN/LC_MESSAGES/getting_started/index.po
  docs/locale/zh_CN/LC_MESSAGES/getting_started/installation.po
  docs/locale/zh_CN/LC_MESSAGES/getting_started/numpy.po
  docs/locale/zh_CN/LC_MESSAGES/getting_started/quick_start.po
  docs/locale/zh_CN/LC_MESSAGES/index.po
  docs/locale/zh_CN/LC_MESSAGES/references/index.po
  docs/locale/zh_CN/LC_MESSAGES/references/numpy_api.po
  docs/locale/zh_CN/LC_MESSAGES/references/phe_api.po
  docs/locale/zh_CN/LC_MESSAGES/references/upgrade_guide.po
Due: none
